.app-root-emotion-cache-ltr-1o6kwtr.alert-panel{
    width: auto !important;
}

.app-root-emotion-cache-ltr-eoh5jl.alert-panel{
    width: auto !important;
}
.app-root-emotion-cache-ltr-jrlfdq.alert-panel{
    width: auto !important;
}